<div class="search">
		
		<div class="container fill_height">
			<div class="row fill_height">
				<div class="col fill_height">

					

					<div class="search_tabs_container">
						<div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
							<div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="/images/departure.png" alt="">пассажирские</div>
							
							
							
						</div>		
					</div>

			

					<div class="search_panel active">
						<form method="GET" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
							<div class="search_item">
								<div>Пункт назначения</div>
								<input name="where" type="text" class="destination search_input" required="required">
							</div>
							<div class="search_item">
								<div>Когда</div>
<<<<<<< HEAD
								<input name="date_out" type="date" class="check_in search_input" placeholder="" required="required">
=======
								<input name="date_out" type="date" class="check_in search_input" placeholder="" required>
>>>>>>> 1ddf254c92ca2e73d5f25eda055a850005f1d4dc
							</div>
							
							
							
							<button class="button search_button">Поиск<span></span><span></span><span></span></button>
						</form>
					</div>

				</div>
			</div>
		</div>		
	</div>
